/*mobile first*/

canvas{
	width:100%;

}


/*Tablet Portrait*/

@media screen and (min-width:35.625em){
	canvas{
		width:100%;
	}
	
/* Tablet Landscape*/

@media screen and (min-width:48em){
	canvas{
		height:600px;
		width:800px;
	}
	
	
	/* Desktop*/

@media screen and (min-width: 64em) {
	canvas{
		height:600px;
		width:800px;
		}
	
}
