
/* Aufgabe 10: Weihnachtsbaumkonfigurator
Name: Ngo, Thi Lien
Matrikel: 256778
Datum: 21.12.2017

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.

*/

body {
	float: left;
	color: black;
	font-size: 1em;
	width: 100%;
	margin-left: 20%;
}


h1 {
	color: #0d640b;
	font-size: 2em;
}
input {
	margin: 0.5em;
}

button {
	background-color: #002502;
	color: white;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    
}
#daten input {
	display: block;
	height: 10%;
	width: 15%;
}

#korb {
	position: fixed;
	right: 0.5em;
	top: 0.5em;
	padding: 1em;
	
}

.warenkorb {
	font-size: 2em;
}